body{
    margin: 0;
}


ul{
    list-style: none;
    padding-left: 0;
}

#sidebar{
    width: 35px;
    background-color: #e1e1e1;
    padding-top: 200px;

    /*全屏高度*/
    position: fixed;
    min-height: 100%;
    z-index: 100;
}


#closeBar{
    position: absolute;
    bottom:300px;
    width: 35px;
    text-align: center;
    cursor: pointer;
}



.item{
    font-size: 12px;
    font-family: Microsoft YaHei;
    text-align: center;
    margin-top:5px;
}

.item .des{
    color: #313430;
}

/*右侧内容栏目*/
.nav-content{
    width:200px;
    position: fixed;
    min-height: 100%;
    color: #e1e1e1;
    border: 1px solid black;
    z-index: 99;
    opacity: 0;

}


.nav-con-close{
    position: absolute;
    top:5px;
    right: 5px;
    color: #000000;

}
.content{
    width: 190px;
    min-height: 100%;
    position: absolute;
    top:5%;
    right: 5px;
}

#prof-content{
    background-color: pink;
}

#asset-content{
    background-color: gray;
}

#brand-content{
    background-color: plum;
}

#broadcast-content{
    background-color:cornflowerblue;
}

#foot-content{
    background-color: antiquewhite;
}

#calendar-content{
    background-color: powderblue;
}

/*サイドバーを左へ*/
.sidebar-move-left{
    /*アニメーションの名前*/
    -webkit-animation-name: sml;
    -moz-animation-name: sml;
    -o-animation-name: sml;
    animation-name: sml;
    /*アニメーションの続く時間*/
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    /*アニメーションの回数*/
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    /*アニメーション終了後、終了した位置に残る*/
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

@keyframes sml {
    from{
    }

    to{

        transform:translateX(-120px);
        -webkit-transform:translateX(-120px);
    }
}

@-webkit-keyframes sml {
    from{
    }

    to{
        transform:translateX(-120px);
        -webkit-transform:translateX(-120px);
    }
}






/*展開ぼたんから閉じる*/
.closeBar-move-right{
    -webkit-animation-name: cmr;
    -moz-animation-name: cmr;
    -o-animation-name: cmr;
    animation-name: cmr;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

@keyframes cmr {
    from{

    }
    to{

        transform:translateX(160px) rotate(405deg) scale(1.5);
        -webkit-transform:translateX(160px) rotate(405deg) scale(1.5);
    }
}

@-webkit-keyframes cmr {
    from{

    }
    to{
        transform:translateX(160px) rotate(405deg) scale(1.5);
        -webkit-transform:translateX(160px) rotate(405deg) scale(1.5);

    }
}




/*open サイドバーを展開*/
.sidebar-move-right{
    -webkit-animation-name: smr;
    -moz-animation-name: smr;
    -o-animation-name: smr;
    animation-name: smr;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes smr {
    from{}
    to{
        transform: translateX(120px);
        -webkit-transform: translateX(120px);
    }
}
@-webkit-keyframes smr {
    from{}
    to{
        transform: translateX(120px);
        -webkit-transform: translateX(120px);
    }
}

/*閉じるボタンから展開ぼたん*/
.openBar-move-left{
    -webkit-animation-name: cml;
    -moz-animation-name: cml;
    -o-animation-name: cml;
    animation-name: cml;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cml {
    from{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    to{

        transform:translateX(-160px) rotate(-405deg) scale(1);
        -webkit-transform:translateX(-160px) rotate(-405deg) scale(1);
    }
}

@-webkit-keyframes cml {
    from{
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    to{
        transform:translateX(-160px) rotate(-405deg) scale(1);
        -webkit-transform:translateX(-160px) rotate(-405deg) scale(1);
    }
}

.menuContent-move-right{
    -webkit-animation-name: mmr;
    -moz-animation-name: mmr;
    -o-animation-name: mmr;
    animation-name: mmr;

    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;

    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes mmr {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
}

@-webkit-keyframes mmr {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

}


